extends layout

block content
  .w3-container
    .w3-card-4
      h1 Arquivo de Musica Digital
      table.w3-table-all.w3-card-4
        tr
          th ID
          th Titulo
          th # Partituras
        each obra in obras
          tr
            td
              a(href='/' + obra.id)= obra.id
            td= obra.titulo
            td= obra.count